<audio [src]="audioSource | safe:'url'" id="audio" autoplay #audioTag >
</audio>
<br>

<table style="border-collapse: collapse; width: 300px; height: 36px;" border="0">
  <tbody>
  <tr style="height: 18px;">
  <td><label for="fname">First name:</label></td>
  <td><input type="text" id="fname" name="fname" [(ngModel)]="fName"></td>
  </tr>
  <tr style="height: 18px;">
  <td><label for="lname">Last name:</label></td>
  <td><input type="text" id="lname" name="lname" [(ngModel)]="lName"></td>
  
  </tr>
  <tr>
    <td></td>
    <td>&nbsp;</td>
    </tr>
  <tr>
  <tr>
  <td><label for="fname">Listen to the pronunciation</label> </td>
  <td><img class="image" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Speaker_Icon.svg" alt="voice" style="width: 20px; height: 20px;" (click)="loadAudioClick()" /></td>
  </tr>
  <tr>
    <td></td>
    <td>&nbsp;</td>
    </tr>
  <tr>
  <td>Opt in for customize pronunciation</td>
  <td>
    <div class="checkbox">
      
      <label>

          <input #saveUserNameCheckBox type="checkbox" 
          id="saveUserNameCheckBox" 
          [checked]="customPronuncitionOptIn" 
          
          (change)="customRecordingOptInChanged(saveUserNameCheckBox.checked)">
      </label>
      </div>
  </td>
  </tr>
  </tbody>
  </table>
  <br>
  <br>
<div *ngIf ="showCustomRecordingOption">
  <app-record-voice [fName]='fName' [lName]='lName'></app-record-voice>
</div>

