<div>
  <button class="start-button" *ngIf="!isAudioRecording && !audioBlobUrl" (click)="startAudioRecording()">Start Audio Recording</button>
  <button class="stop-button" *ngIf="isAudioRecording && !audioBlobUrl" (click)="stopAudioRecording()">Stop Audio Recording</button>
  <button class="cancel-button" *ngIf="!isAudioRecording && audioBlobUrl" (click)="clearAudioRecordedData()">Clear Audio Recording</button>
  <br>
  <button class="cancel-button" *ngIf="!isAudioRecording && audioBlobUrl" (click)="uploadAudioRecordedData()">Upload Audio Recording</button>
  <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl"> {{ audioRecordedTime }} </div>
  <audio *ngIf="!isAudioRecording && audioBlobUrl"  controls>
    <source [src]="audioBlobUrl" type="audio/mp3">
  </audio>
</div>

